table, th, td{
    border: 1px solid black;
    width: 1000px;
    text-align: center;
}

input{
    padding-right: 75px;
}

body{
    text-align: center;
    alignment-baseline: center;
    background-image: url(http://static.tumblr.com/efcd314e9fe24722553f594cffa61cfd/g2dhfnu/ArYmlvd7a/tumblr_static_bacon.png);
}